{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of CasPaste.

   CasPaste is free software released under the MIT License.
   See LICENSE file for details.
*/}}

{{define "titlePrefix"}}{{ call .Translate `docs.Title` }} | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
<h3>{{ call .Translate `docs.Title` }}</h3>
<ul>
	<li><a href="/docs/apiv1">{{ call .Translate `docsAPIv1.Title` }}</a></li>
	<li><a href="/docs/api_libs">{{ call .Translate `docsAPIv1Libs.Title` }}</a></li>
</ul>
{{end}}
